<html>
<head>
    <meta charset="UTF-8" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Script/script.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Usuários</title>
</head>
<body onload="setarVisibilidade();">
    <nav id="nave">
        <ul>
            <li class="dropdown">
                <a href="#" class="dropbtn">Listas</a>
                <div class="dropdown-content">
                    <a href="#">Atletas</a>
                    <a href="#">Equipe</a>
                    <a href="#">Evento</a>
                    <a href="#">Local</a>
                    <a href="#">Recurso</a>
                </div>
            </li>
            <li><a href="#news">Perfil</a></li>
            <li><a class="active" href="#home">Home</a></li>
            <li id="logo-nav"> <img src="http://i.imgur.com/vqRrYH2.png"> </li>
        </ul>
    </nav>
    @RenderBody()
    <!-- Fim da estrutura do modal -->
    
</body>
</html>
